/*====================================Main===========================================*/
body{
    background-color: $base-color; 
}

//#container {
//    overflow: auto;	
//}

section{
    min-height: 60vh;
    background-color: $primary-color;
    margin-top: 1.25em;
    
    h1{
        margin: 0 0 1.25em 0;
    }
}

.title {
//    border: thin red solid;
    height: 2em;
    width: 10em;
    font-size: 2.5em;
    margin: auto;
}

.bbj{
//	border: thin solid red;

    #bbjHome{
        height: 16.5em;
        margin: auto;
    }
    
    #bbjMobile {
        width: 16.5em;
        margin-bottom: 1em;
        border-bottom: thin red solid;
    }
}

.bbj-infos{
//    display: none;
	width: 16.5em;
//    border: green thin solid;
//    margin-top: -20em;
    margin-left: 0.2em;

    p{
        width: 16.5em;
    }
}

.endLine {
    border: green thin solid;
}

.top{
    display: block;
    position: fixed;
    width: 55px;
    height: 50px;
//    margin-top: 36.5%;
//    margin-left: 95.5%;
    text-align: center;
    bottom: 0;
    right: 0.5em;
    background-color: rgba(255,255,255,0.5);
    
    a{
        color: $secondary-font-color;
    }
}




/*====================================Main===========================================*/