/*===================================BreakPoints=====================================*/

@media only screen and (min-width: 34em) {
    /* Style adjustments for viewports that meet the condition */    
    #bars{
        display: block;
    }
    
    header{
        nav{
            width: auto;
        }
          ul{
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
        }
    
        li{
            flex: 1 1 auto;
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto; 
        }
    }
    
//    #container {
//        min-width: 34em;
//    }
    
    header{
        min-width: 34em;
    }
    section{
        background-color: $primary-color;
    }
    
    .bbj{
//        border: thin solid red;
        
        #bbjHome{
//            border: thin blue solid;
            height: 15.8em;
//            margin: -63em 0.2em 0 0.5em;
        }
        
        #bbjMobile {
//            border: thin orange solid;
            width: 21.2em;
//            margin-top: 0;
        }
    }
}

@media only screen and (min-width: 54em) {
    #bars{
        display: block;
    }
    
    header{
       
    }
    
    #container {
        min-width: 44em;
    }
    
    section{
        background-color: $primary-color;
    }
    
    .bbj{
        display: flex;
        flex-direction: row;
//        border: thin solid blue;
        
        #bbjMobile{
            flex: 0 0 48%;
//            border: thin white solid;
            width: 5em;
        }
        
        #bbjHome{
            flex: 0 0 50%;
//            border: thin yellow solid;
            margin: 0 0.5em 0 0.5em;
            height: 22.2em;
        }
    }
    
    #bbj-info {
        display: none;
//        flex: 0 1 6%;
//        border: thin gold solid;
//        height: 2em;
    }
    
    .bbj-infos{
        display: block;
        margin-top: 23.5em;
        margin-left: -26.5em;
        border: thin orange solid;
        width: 26em;
        height: 15em;
        
        p{
            width: auto;
            font-size: 1em;
        }
    }
}

@media only screen and (min-width: 74em) {
    #bars{
       display: none;
    }
    
    header{
        nav{
            margin: 0;
        }
         h1{
            margin-bottom: 0.50em;
        }
        
        nav{
            display: block;
        }
    }
    
    .bbj{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        border: thin solid green;
        
        #bbjHome{
            flex: 0 0 44%;
            height: 35em;
            margin: 0em 0.2em 0 2em;
        }
        
        #bbjMobile {
            flex: 0 0 50%;
        }
    }
    
    #bbj-info {
        display: none;
    }
    
    .bbj-infos{
        margin-top: 38em;
        margin-left: -32em;
        border: thin red solid;
        width: 32em;
        height: 20em;
        
        p{
            width: auto;
            font-size: 1.5em;
        }
    }
}

/*===================================BreakPoints=====================================*/