/*===================================BreakPoints=====================================*/

@media only screen and (min-width: 34em) {
    /* Style adjustments for viewports that meet the condition */    
    #bars{
        display: block;
    }
    
    header{
        nav{
            width: auto;
        }
          ul{
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
        }
    
        li{
            flex: 1 1 auto;
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto; 
        }
    }
    
//    #container {
//        min-width: 34em;
//    }
    
    header{
        min-width: 34em;
    }
    section{
        background-color: $primary-color;
    }
    
    .bbj{
//        border: thin solid red;
        
        #bbjHome, #bbjMobile {
//            border: thin blue solid;
            width: 21.2em;
        }
    }
}

@media only screen and (min-width: 54em) {
    #bars{
        display: block;
    }
    
    header{
       
    }
    
    #container {
        min-width: 44em;
    }
    
    section{
        background-color: $primary-color;
    }
    
    .bbj{
//        border: thin solid blue;
        
        #bbjHome, #bbjMobile {
//            border: thin blue solid;
            width: 21.2em;
        }
    }
}

@media only screen and (min-width: 74em) {
    #bars{
       display: none;
    }
    
    header{
        nav{
            margin: 0;
        }
         h1{
            margin-bottom: 0.50em;
        }
        
        nav{
            display: block;
        }
    }
    
    .bbj{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
//        border: thin solid green;
        
        #bbjHome{
            flex: 1 1 20%;
            height: 35em;
        }
        
        #bbjMobile {
            flex: 1 0 10%;
//            height: 50em;
        }
    }
    
    #bbj-info {
//        flex: 0 0 6%;
        border: thin red solid;
        height: 2em;
        
    }
}

/*===================================BreakPoints=====================================*/