/*====================================Var====================================*/

$primary-color: rgba(84,84,85,0.6);
$secondary-color: rgba(175,165,115,0.4);
$base-color: rgba(52,66,75,1);
$primary-font-color: #fff;
$secondary-font-color: rgba(212,217,223,1);

/*====================================Var====================================*/
